body {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .6);
  background-color: #f5f5f7;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.tcenter {
  text-align: center;
}

* {
  outline: none;
}

h1, h2, h3, h4, h5, .title {
  color: #00bec2;
  font-weight: 500;
}

.container {
  flex-grow: 1;
  display: flex;
}

.container > div {
  overflow: auto;
}

.tools {
  width: 20%;
  margin-right: 1rem;
}

.result {
  flex-grow: 1;
}

.box {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 4px;
  box-shadow: 0 2px 8px #23404f25
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form:not(:first-child) {
  margin-top: 1rem;
}

form > * {
  margin: .4rem 0;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 6px 12px;
  font-size: 16px;
}

input, textarea, select {
  border: 1px solid rgba(0, 0, 0, .06);
  border-radius: 1px;
  resize: none;
  font-size: 13px;
  padding: .5rem 1rem;
  transition: 120ms ease-out;
  color: rgba(0, 0, 0, .7);
  font-weight: 400;
}

input::placeholder, textarea::placeholder {
  color: rgba(0, 0, 0, .4);
}

input:focus, textarea:focus {
  border: 1px solid rgba(40, 177, 175, 0.5);
  color: rgba(40, 177, 175, 0.8);
}

input:focus::placeholder, textarea:focus::placeholder {
  transition: 100ms ease-out;
  color: rgba(40, 177, 175, 0.8);
}

.title {
  margin: .4rem 0;
}

.subtitle {
  margin: .6rem 0 2rem 0;
  color: rgba(0, 0, 0, .4);
}

button, input[type=submit] {
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(5, 75, 74, 0.6);
  border: 1px solid #8fd3f4;
  transition: 120ms linear;
  background-image: linear-gradient(45deg, rgb(91, 238, 182) 0%, #59bdee 100%);
  background-size: 120%;
  background-position-x: 0%;
}

button:hover, input[type=submit]:hover {
  background-position-x: 100%;
}

button:active, input[type=submit]:active {
  transform: scale(.9);
}

